<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Código de sala" [formControl]="roomCode" />
  <button class="btn btn-outline-secondary" (click)="searchRoom()">Buscar</button>
</div>
<button class="btn btn-primary mb-3" (click)="createRoom()">Crear sala</button>

<ul class="list-group">
  <li *ngFor="let game of games()" class="list-group-item d-flex justify-content-between align-items-center">
    <span class="font-black">{{ game.code }} - {{ game.status }}</span>
    <button class="btn btn-link" (click)="openGame(game)">Entrar</button>
  </li>
</ul>
